.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem; /* Adjust the gap between cards as needed */
}

.card-grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
